{% extends 'base.html' %}

{% block contents %}
    <div class="empty-row"></div>
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <p class="semi-title">Download</p>
        </div>
    </div>

    <div class="empty-row"></div>
    <div class="empty-row"></div>

    <div class="row text-center">
        <div class="offset-md-2 col-md-8">
            <img class="download-img" src="{{ url_for('static', filename='images/chrome.png') }}">
        </div>
    </div>
    <div class="empty-row"></div>
    <div class='row text-center'>
        <div class="offset-md-2 col-md-8">
            <a class="btn btn-link btn-lg" href="https://chrome.google.com/webstore/detail/cyberaffiti/iglebngmpbfnkjcccpkdleefmdpekkoe">Download Here</a>
        </div>
    </div>
{% endblock contents %}